.about-company {
    main {
      max-width: 800px;
      margin: 20px auto;

      .about {
        h2 {
          color: #333;
        }

        p {
          color: #555;
          margin-bottom: 15px;
        }
      }
    }
  }