@import '../style/variables.scss';
@font-face {
  font-family: TTHoves ;
  src: url('../fonts/TTHoves-Regular.ttf');
}

html {
  box-sizing: border-box;
  text-decoration: none

}
html a {
  text-decoration: none;

}

*, *::before, *::after {
  box-sizing:inherit
}





.app {
  font-family: TTHoves, sans-serif ;
  font-weight: 400;
  margin: 0 auto;
}

