@import '../style/variables.scss';
@font-face {
  font-family: TTHoves ;
  src: url('../fonts/TTHoves-Regular.ttf');
}

html {
  box-sizing: border-box;
  text-decoration: none

}

body {
  &.modal-open {
    overflow: hidden;
    margin-right: 16px;
  }
}

 a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

}

*, *::before, *::after {
  box-sizing:inherit
}





.app {
  font-family: TTHoves, sans-serif ;
  font-weight: 400;
  margin: 0 auto;
  text-decoration: none;


}



