@import '../style/variables.scss';

.app {
    &__header {
        display: flex;
        height: 108px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-left: 9%;
        width: 5%;
        height: 54px;
    }

    &__menu {
        display: flex;
        margin-right: 17%;
        height: 28px;
        width: 48%;
        justify-content: space-around;

        &_item {

            text-decoration: none;
            color: $textColor;
            font-size: 16px;
            line-height: 12px;
            letter-spacing: 2px;




        }



        &_item :hover {

            border-block-start: 2px solid $textColor;
            border-block-end: 2px solid $textColor;


        }





    }


}