.footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-list li {
    display: block;
    margin-bottom: 10px;
  }

  .footer-list strong {
    display: block;
    margin-bottom: 10px;
  }
