@import '../style/variables.scss';

.app {
    &__slider {
        display: flex;
        justify-content: space-evenly;

        &-img {
            position: relative;

            & img {
                width: 846px;
                height: 916px;
            }
        }

        &-img::before {
            content: '';
            position: absolute;
            top: 69.2%;
            right: 100%;
            border-top: 2px solid #F2F2F2;
            width: 34.8%;
        }

        &-button {
            display: flex;
            font-size: 15px;
            width: 30%;
            position: absolute;
            left: 0;
            bottom: 0;
            letter-spacing: 5px;
            line-height: 82px;
            justify-content: center;
            align-items: center;
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-right: 41px;

            &>div {
                margin-bottom: 111px;
                width: 100%;
            }
        }

        &-title {
            color: $textColor;
            font-weight: bolder;
            width: 20%;
            font-size: 70px;
            text-transform: uppercase;
            line-height: 62px;

            &::first-line {
                color: $textColor1;
                font-weight: 300;
            }
        }

        &-arrow {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            width: 75px;

            &>div {
                padding: 20px;
                margin-right: 29px;
                background-color: $buttonColor;

                &:hover {
                    background-color: $buttonColor1;
                }
            }
        }
    }
}
