@import '../style/variables.scss';

.app {
    &__slider {
        display: flex;

        justify-content: space-evenly;
        margin-bottom: 123px;

        &-img {
            position: relative;

            & img {
                width: 846px;
                height: 916px;

            }


        }

        &-img::before {
            content: '';
            position: absolute;
            top: 69.2%;
            right: 100%;
            /*  */
            border-top: 2px solid #F2F2F2;
            width: 34.8%;
        }

        &-button {
            display: flex;
            color:$textColor;
            font-size: 15px;
            cursor: pointer;
            width: 30%;
            position: absolute;
            left: 0;
            bottom: 0;
            letter-spacing: 5px;
            line-height: 82px;
            justify-content: center;
            align-content: center;
            align-items: center;

        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-right: 41px;

            &>div {
                margin-bottom: 111px;
                width: 100%;
            }
        }

        &-title {
            width: 244px;
            color: $textColor;
            font-weight: bolder;
            font-size: 70px;
            text-transform: uppercase;
            line-height: 62px;

            &::first-line {
                color: $textColor1;
                font-weight: 300;
            }
        }

        &-arrow {
            display: flex;
            justify-content: flex-start;
            color:$textColor;
            cursor: pointer;
            &>div {
                padding: 20px;
                margin-right: 29px;
                background-color: $buttonColor;

                &:hover {
                    background-color: $buttonColor1;
                }
            }
        }
        &-arrow > * {
            display: flex;
            justify-content: flex-start;
            color:$textColor;

        }

        &-number {
            display: flex;
            font-size: 24px;

            &-item {
                color:$textColor1;
                margin-right: 57px;
                line-height: 48px;
            }
        }

    }






}

