// SliderSinglePage.scss

.slider-single-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd; // Приклад границі, замініть на власний стиль
  margin: 10px;

  &__image-wrapper {
    flex: 1;
    width: 20%;

    &__image {

      max-width: 400px; // Замініть на власний розмір
      height: auto;
    }
  }

  &__title {
    font-size: 64px;
    margin-bottom: 10px;
  }

  &__info {
    flex: 1;
    margin-left: 20px;

  }

  &__description {
    font-size: 32px;
    font-style: italic;
    margin-bottom: 10px;
  }
}